/* .container {
    display: flex;
    position: fixed;
    z-index: 2;
}


.navigation{
    z-index: 10;
}

.text_container {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    position: absolute;
    top: 0;
    color: rgb(104, 34, 34); 
    font-size: 120px; 
    padding: 20px; 
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,255,145,0) 75%); 
    transition: background-color 0.5s ease; 
}

.swarovski-text {
    transition: color 0.5s ease, background-color 0.5s ease; 
}

.contTxt {
    background-color: rgb(225, 216, 205);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.contP {
    text-align: center; 
    margin: 0 auto; 
    padding: 50px;
    width: 950px;
    font-size: 19px;
}


@media (max-width: 1200px) {
    .contP {
        width: 80%; 
        padding: 30px; 
        font-size: 18px; 
    }
}


@media (max-width: 992px) {
    .contP {
        width: 90%; 
        padding: 20px; 
        font-size: 17px; 
    }
}


@media (max-width: 768px) {
    .contTxt {
        height: auto; 
        padding: 20px; 
    }

    .contP {
        width: 95%; 
        padding: 15px; 
        font-size: 16px; 
    }
}


@media (max-width: 576px) {
    .contP {
        font-size: 15px; 
        padding: 10px; 
    }
} */